.card1 {
  height: 250px;
  padding: 20px;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;

  p {
    margin-bottom: 0px;
  }
}
