// ----- COLOR VARIABLES -----
$default-color: #f56991;
$default-color-dark: #e95780;
$blog-color-dark: #dd4b39;
$blog-color-light: #ff2e58;
$bg-color: #f6e5c4;

// ----- BACKGROUND COLOR -----
.bg-default,
.btn-default {
  background-color: $default-color;
}

.btn-default:hover {
  background-color: $default-color-dark;
}

.bg-body {
  background-color: $bg-color;
}

// ----- TEXT COLOR -----
.text-color-default,
.input-default,
.input-default:focus,
.input-default::placeholder {
  color: $default-color !important;
}

.nav-link {
  color: #6c757d !important;
}

.nav-link:hover {
  color: $default-color !important;
}

.text-gradient-red {
  color: $blog-color-dark;
  background: -webkit-linear-gradient($blog-color-dark, $blog-color-light);
  background: linear-gradient($blog-color-dark, $blog-color-light);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

// ----- FILL COLOR -----
.fill-default {
  fill: $default-color;
}

.fill-secondary {
  fill: #6c757d;
}

// ----- BORDER COLOR -----
.border-color-default,
.btn-default,
.input-default {
  border-color: $default-color !important;
}

.btn-default:hover {
  border-color: $default-color-dark;
}
