* {
  scroll-behavior: smooth;
  transition: top 0.3s;
}
@import "./color.scss";
@import "./font.scss";
@import "./border.scss";
@import "./card1.scss";
@import "./scrollDownBadge.scss";
@import "./largePadding.scss";

.d-flex-center,
.scroll-down-badge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-shadow {
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
}

.h-50px,
.wh-50px {
  height: 50px;
}
.w-50px,
.wh-50px {
  width: 50px;
}

.h-80px,
.wh-80px {
  height: 80px;
}
.w-80px,
.wh-80px {
  width: 80px;
}

.h-100px,
.wh-100px {
  height: 100px;
}
.w-100px,
.wh-100px {
  width: 100px;
}
