$default-color: #f56991;
$default-color-dark: #e95780;
$blog-color-dark: #dd4b39;
$blog-color-light: #dd4b39;
$bg-color: #f6e5c4;

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}

.font-family-roboto-r {
  font-family: "Roboto-Regular";
}

.font-family-roboto-b {
  font-family: "Roboto-Bold";
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("../assets/fonts/quicksand/Quicksand-Light.otf");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../assets/fonts/quicksand/Quicksand-Regular.otf");
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../assets/fonts/quicksand/Quicksand-Bold.otf");
}

.font-family-quicksand-l {
  font-family: "Quicksand-Light";
}

.font-family-quicksand-r {
  font-family: "Quicksand-Regular";
}

.font-family-quicksand-b {
  font-family: "Quicksand-Bold";
}

.bg-default,
.btn-default {
  background-color: $default-color;
}

.bg-body {
  background-color: $bg-color;
}

.text-color-default,
.input-default,
.input-default:focus,
.input-default::placeholder {
  color: $default-color !important;
}

.fill-default {
  fill: $default-color;
}

.border-color-default {
  border-color: $default-color !important;
}

.fill-secondary {
  fill: #6c757d;
}

.nav-link {
  color: #6c757d !important;
}

.nav-link:hover {
  color: $default-color !important;
}
.btn-rounded,
.input-rounded,
.btn-round-l,
.input-round-l {
  border-radius: 30px;
}

.btn-large,
.btn-round-l {
  padding: 8px 16px;
}

.btn-default:hover {
  background-color: $default-color-dark;
}

.input-large,
.input-round-l {
  padding: 20px 16px;
}

.font-size-150 {
  font-size: 1.5rem;
}

.font-size-140 {
  font-size: 1.4rem;
}

.font-size-130 {
  font-size: 1.3rem;
}

.font-size-120 {
  font-size: 1.2rem;
}

.font-size-95 {
  font-size: 0.95rem;
}

.font-size-90 {
  font-size: 0.9rem;
}

.font-size-80 {
  font-size: 0.8rem;
}

.border-w2,
.btn-default,
.input-round-l {
  border-width: 2px;
}

.border-color-default,
.btn-default,
.input-default {
  border-color: $default-color;
}

.btn-default:hover {
  border-color: $default-color-dark;
}
